{% extends 'base.html' %}
{% block content %}

<h1>Wine Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ wine.name }}</span>
        <p>Region: {{ wine.region }}</p>
        <p>Description: {{ wine.description }}</p>
        <p>Vintage: {{ wine.vintage }}</p>>
      </div>
      <div class="card-action">
        <a href="{% url 'wines_update' wine.id %}">Edit</a>
        <a href="{% url 'wines_delete' wine.id %}">Delete</a>
      </div>
    </div>
  </div>
    <div class="col s6">
      <form action="{% url 'add_tasting' wine.id %}" method="post">
        {% csrf_token %}
        {{ tasting_form }}
        <input type="submit" class="btn" value="Add Tasting Note">
      </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Note</th></tr>
      </thead>
      <tbody>
        {% for tasting in wine.tasting_set.all %}
          <tr>
            <td>{{tasting.date}}</td>
            <td>{{tasting.note}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ wine.name }}'s Distributor</h3>
    {% if wine.distributor.count %}
      {% for distributor in wine.distributor.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="name: {{ distributor.name }}">{{ distributor.place }}</span> {{ distributor.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Distribution</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Distributors</h3>
    {% if distributors.count %}
      {% for distributor in distributor.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="name: {{ distributor.name }}">{{ distributor.place }}</span> {{ distributor.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_distributor' wine.id distributor.id %}" method="post">
              {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{wine.name}} Already Has Distributors in Current Markets</h5>
    {% endif %}
  </div>
<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  })
  const selectEl = document.getElementById('id_tasting')
  M.FormSelect.init(selectEl);
</script>
{% endblock %}